<div class="row">
  <div class="col">
    <div class="example-button-row">
      <button class="button-margin" mat-raised-button routerLink="new">Add</button>
      <button class="button-margin" mat-raised-button
              [disabled]="authorsList.selectedOptions.selected.length !== 1"
              (click)="edit()">Edit</button>
      <button class="button-margin" mat-raised-button color="warn"
              [disabled]="authorsList.selectedOptions.selected.length == 0"
              (click)="removeAuthors()"
      >Remove {{authorsList.selectedOptions.selected.length}}</button>
    </div>
    <mat-selection-list #authorsList>
      <mat-list-option *ngFor="let author of (authors | async); let index = index" [value]="index">
        {{author.fullName}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
