<mat-toolbar>
  <button mat-raised-button class="button-row" (click)="addNew()">Add</button>
  <button mat-raised-button class="button-row" color="primary" (click)="edit()" [disabled]="selection.selected.length === 0">Edit</button>
  <button mat-raised-button class="button-row" color="warn" (click)="remove()" [disabled]="selection.selected.length === 0">Remove</button>
</mat-toolbar>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="(dataSource | async)" aria-label="Elements">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row;let index = index">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(index) : null"
                      [checked]="selection.isSelected(index)">
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row;let index = index">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef>Author</th>
      <td mat-cell *matCellDef="let row">{{row.author}}</td>
    </ng-container>

    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef>Genres</th>
      <td mat-cell *matCellDef="let row">{{row.genres}}</td>
    </ng-container>

    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef>Source</th>
      <td mat-cell *matCellDef="let row">{{row.source}}</td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let row">{{row.year}}</td>
    </ng-container>
    <ng-container matColumnDef="quarter">
      <th mat-header-cell *matHeaderCellDef>Quarter</th>
      <td mat-cell *matCellDef="let row">{{row.quarter}}</td>
    </ng-container>
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef>Month</th>
      <td mat-cell *matCellDef="let row">{{row.month}}</td>
    </ng-container>
    <ng-container matColumnDef="isComics">
      <th mat-header-cell *matHeaderCellDef>isComics</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="row.isComics" disabled></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="isSeries">
      <th mat-header-cell *matHeaderCellDef>isSeries</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox [checked]="row.isSeries" disabled></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef>Rating</th>
      <td mat-cell *matCellDef="let row">{{row.rating}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="selection.toggle(index)" (dblclick)="editRow(index)" *matRowDef="let row; columns: displayedColumns;let index = index"></tr>
  </table>

</div>
