<div class="row">
  <div class="col">
    <div class="example-button-row">
      <button class="button-margin" mat-raised-button routerLink="new">Add</button>
      <button class="button-margin" mat-raised-button color="warn"
              [disabled]="genresList.selectedOptions.selected.length == 0"
              (click)="removeGenres()"
      >Remove {{genresList.selectedOptions.selected.length}}</button>
    </div>
    <mat-selection-list #genresList>
      <mat-list-option *ngFor="let genre of (genres | async); let index = index" [value]="index">
        {{genre.genre}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
