<form [formGroup]="editProgressForm" novalidate (ngSubmit)="saveProgress()">
  <mat-card class="wrapper-card">
    <mat-card-header>
      <mat-card-title>Sing up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="editProgressForm.controls['name'].hasError('name')">
              Enter correct email
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Source" formControlName="source">
              <mat-option *ngFor="let source of sources" [value]="source.key">
                {{source.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Author" aria-label="Author" matInput formControlName="author" [matAutocomplete]="autoAuthor">
            <mat-autocomplete autoActiveFirstOption #autoAuthor="matAutocomplete">
              <mat-option *ngFor="let author of (filteredAuthors | async)" [value]="author.fullName">
                {{author.fullName}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button *ngIf="authorControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="authorControl.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" placeholder="Genres" aria-label="Genres" matInput formControlName="genres" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let genre of (filteredGenres | async)" [value]="genre.genre">
                {{genre.genre}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button *ngIf="genresControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="genresControl.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Year" formControlName="year">
            <mat-error *ngIf="editProgressForm.controls['year'].hasError('year')">
              Enter correct length
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Quarter" formControlName="quarter">
              <mat-option *ngFor="let quarter of quarters" [value]="quarter.key">
                {{quarter.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Month" formControlName="month">
              <mat-option *ngFor="let month of months" [value]="month">
                {{month}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="isComics">Comics?</mat-checkbox>
        </div>
        <div class="col">
          <mat-checkbox formControlName="isSeries">Serias?</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="isSeries">Serias?</mat-checkbox>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Rating" formControlName="rating">
            <mat-error *ngIf="editProgressForm.controls['rating'].hasError('rating')">
              Enter number
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Comments" formControlName="comments"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!editProgressForm.valid">Save</button>
      <button mat-raised-button color="basic" [routerLink]="['../']">Back</button>
    </mat-card-actions>
  </mat-card>
</form>
